<script>
    var host_ip2 = window.location.hostname + ':3000';
    var sockets = io();
    sockets.on('att-painel-guiche', function (data) {
        console.log('Nova senha emitida atualizar pagina');
        let xhttp = new XMLHttpRequest();
        let url = 'http://' + host_ip2 + '/qtd_senhas_guiche';
        xhttp.open('POST', url, true);
        xhttp.setRequestHeader('Content-type', 'application/x-www-form-urlencoded');
        xhttp.onreadystatechange = function () {
            if (this.readyState === 4 && this.status === 200) {
                let response = JSON.parse(this.responseText);
                console.log('resposta');
                console.log(response);
                // use response[0] PREFERENCIAL e response[1] COMUM
                document.getElementById('counter-preferencial').innerHTML = 'Chamar Preferencial ' + response[0];
                document.getElementById('counter-comum').innerHTML = 'Chamar Comum ' + response[1];
            }
        };
        xhttp.send();
        //location.reload(true);
        // mudar dps apenas para atualizar o numeros de senha em espera 
    });
</script>





<div id="identifi-guiche" value="{{id}}"></div>

{{!-- formulario senha atendiumento // numero do guiche atual--}}

{{!-- pega id do guiche do params da fucao --}}







{{!-- exclui giche edita sala edita td --}}





<div class="main-adm flex-row">

    <div class="menu-bar-adm flex-coll">
        <div class="btns btn-menu-custom-style flex-coll">
            <p> Painel funcionario {{nome}} {{desc}}</p>
        </div>

        <div class="btns btn-menu-custom-style flex-row" id="{{id}}" onclick="fechaGuiche(this.id)">
            <i class="fa-spacing-right fa fa-times"></i>
            <a>Fechar guiche</a>
        </div>

        <div class="btns btn-menu-custom-style flex-row active-adm" id="pag_adm_guiche" onclick="">
            <i class="fa-spacing-right fa fa-user-headset"></i>
            <a>Atendimento</a>
        </div>
        <div class="btns btn-menu-custom-style flex-row " id="{{id}}" onclick="redirect_fila_espera(this.id)">
            <i class="fa-spacing-right fa-solid fa-table-rows"></i>
            <a>Fila de Espera</a>
        </div>
    </div>



    <div class="group-content-adm flex-coll">

        <div class="content-adm flex-coll">
            {{!-- lsita giches --}}
            <div class="modal-content-cancel-ficha" id="modal-content-cancel-ficha">

                <div class="modal-header flex-row">
                    <h2 class="fa-trasnparent ">Cancelar Senha</h2>
                    <div class="btns flexbotao no-shadow-btn " id="btn-close-modal-add-guiche"
                        onclick="FechaModalCancelSenhaGuiche()">
                        <i class="fa-trasnparent  fa-solid fa-times"></i>
                    </div>
                </div>

                <div class="modal-body flex-row">
                    {{!-- info new giche --}}
                    <div class="btns" id="btn-volta-senha-guiche" onclick="CancelarSenhaGuicheConfirm(this.id)">
                        <p>Voltar senha para fila</p>
                    </div>
                    <div class="btns" id="btn-destroy-senha-guiche" onclick="CancelarSenhaGuicheConfirm(this.id)">
                        <p>Destruir Senha</p>
                    </div>
                </div>

                <div class="modal-footer flex-row">
                    <div class="btns flexbotao no-shadow-btn tools-btns-size " id="btn-add-guiche-cancelar"
                        onclick="FechaModalCancelSenhaGuiche()">
                        <p>Cancelar</p>
                    </div>

                </div>
            </div>
            <div class="box-title-giches flex-coll">
                <h1>Novo Direcionamento</h1>
            </div>
            <div class="grupo-actions-giches flex-row">

                <div class="btns flex-row text-online" value="{{id}}" id="btn-chama-preferencial-giche"
                    onclick="atender_senha_recepcao(this.id)">
                    <i class="fa-solid fa-wheelchair"
                        style=" font-size: 20px; color: rgb(0, 0, 0); margin-right: 5px; background-color:transparent;"></i>
                    <p id="counter-preferencial">Chamar Preferencial {{qtd_senha_pref}}</p>
                </div>
                <div class="btns flex-row text-online" value="{{id}}" id="btn-chama-comum-giche"
                    onclick="atender_senha_recepcao(this.id)">
                    <i class="fa-solid fa-user"
                        style=" font-size: 20px; color: rgb(0, 0, 0); margin-right: 5px; background-color:transparent;"></i>
                    <p id="counter-comum">Chamar Comum {{qtd_senha_comum}}</p>
                </div>

            </div>

            {{!-- novo direcionamento para salas ficha func --}}
            <div class="group-ficha-redict" id="group-ficha-redict">
                {{!-- combobox com salas --}}
                <div class="form-item tipo-senha-client-guiche valus-ficha-redirect flex-row">
                    <i class="fa-spacing-left fa-solid fa-universal-access"></i>
                    <p>Tipo:</p>
                    <p id="value-form-guiche-tipo_senha"></p>
                </div>
                <div class="form-item id-senha-client-guiche valus-ficha-redirect flex-row">
                    <i class="fa-spacing-left  fa-solid fa-id-card"></i>
                    <p>ID:</p>
                    <p id="id-senha-client-guiche"></p>
                </div>
                <div class="form-item view-senha-client-guiche valus-ficha-redirect flex-row">
                    <i class="fa-spacing-left fa-solid fa-key"></i>
                    <p>Senha:</p>
                    <p id="view-senha-client-guiche"></p>
                </div>
                <div class="form-item hora-created-senha valus-ficha-redirect flex-row">
                    <i class="fa-spacing-left fa-solid fa-clock"></i>
                    <p>Horário:</p>
                    <p id="hora-created-senha"></p>
                </div>
                <div class="form-item box-combobox-salas flex-row">
                    <i class="fa-spacing-left fa-solid fa-door-open"></i>
                    <label for="">Encaminhar para: </label>
                    <select name="select-salas" id="select-salas">
                        {{#each salas}}
                        <option value="{{dataValues.id}}">{{dataValues.nome}} - {{dataValues.tipo_sala}}</option>
                        {{/each}}
                    </select>
                </div>
                {{!-- INPUT NOME DO CLIENTE --}}
                <div class="form-item  box-combobox-salas flex-row">
                    <i class="fa-spacing-left fa-solid fa-user"></i>
                    <label for="">Encaminhar senha por: </label>
                    <select name="select-type-senha" id="select-type-senha">
                        <option value="1">Nome Cliente</option>
                        <option value="2">Senha guiche</option>
                    </select>
                </div>
                <div class="form-item box-input-nome-cliente flex-row">
                    <i class="fa-spacing-left fa-solid fa-user"></i>
                    <label for="">Nome do cliente</label>
                    <input type="text" name="nome-cliente" id="nome-cliente">
                </div>
                <div class="form-item group-actions-senha-guiche flex-row">
                    <div class="btns flex-row" id="{{id}}" onclick="EncamainhaSenhaSala(this.id)">
                        <i class="fa-spacing-left fa-solid fa-arrow-right"></i>
                        <p>Encaminhar</p>
                    </div>

                    <div class="btns flex-row" id="btn-abortar-senha-guiche" onclick="CancelsenhaGuiche()">
                        <i class="fa-spacing-left fa-solid fa-times"></i>
                        <p>Abortar</p>
                    </div>
                    <div class="btns flex-row" id="btn-abortar-senha-guiche" onclick="RechamaGuiche()">
                        <i class="fa-spacing-left fa-solid fa-rotate-right"></i>
                        <p>Rechamar</p>
                    </div>

                </div>

            </div>

        </div>

    </div>
</div>